body {background-color:antiquewhite;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}
p {
  color: brown;
}
form {
  display: flex;
  flex-direction: column;
  width: 400px;
}

input,
button {
  color: green;
  margin-bottom: 15px;
}
