<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="../public/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <form action="/login" method="POST">
      <label for="email">Email</label>
      <input type="text" name="email" id="email" placeholder="wpisz email" />
      <label for="password">Hasło</label>
      <input
        type="password"
        name="password"
        id="password"
        placeholder="wpisz hasło"
      />
      <button type="submit">Zaloguj się</button>
    </form>
  </body>
</html>
